.project {
    width: 100%;
    min-height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    flex-grow: 1;
}

.project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 40px;
}

.media img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.media video {
    width: auto;
    height: 60vh;
    border-radius: 10px;
}

.project p {
    font-size: 35px;
    color: #3e497a;
    width: 75%;
}

.project svg {
    font-size: 60px;
    color: #3e497a;
}